@inject IViewLocalizer Localizer
@{
    int id = ViewBag.Id;
    string name = ViewBag.Name;
}

<form asp-controller="Cads" asp-action="ValidateCad" asp-route-cadId="@id">
    <div class="d-grid gap-2">
        <input type="submit" value="@Localizer["Validate"]" class="btn btn-primary mb-2"
               onclick="return confirm('@Localizer["Warning", name]?')" />
    </div>
</form>