@model OrderViewModel
@inject IViewLocalizer Localizer

<form asp-controller="Orders" asp-action="Delete" asp-route-id="@Model.Id" class="col">
    <div class="d-grid gap-2">
        <input type="submit" value="@Localizer["Delete"]" class="btn btn-danger"
               onclick="return confirm('@Localizer["Warning", Model.Name]');" />
    </div>
</form>