@model OrderAddModel
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Order";
}

<h2 class="text-center mb-2">@Localizer["Title"]</h2>
<hr />
<div class="container">
    <partial name="_OrderAddPartial" model="Model" />
</div>