@model string
@{
}

<!DOCTYPE html>
<html>
<head>
    <title>Image Generation Form</title>
</head>
<body>
    <div>
        <h1>Describe an Image</h1>
        <form id="imageForm">
            <div>
                <label for="description">Description</label>
                <input type="text" id="description" name="description" />
            </div>
            <div style="margin-top:20px">
                <input type="button" value="Generate Image" onclick="submitForm()">
            </div>
        </form>
    </div>

    <script href="~/js/site.js"></script>
</body>
</html>