@model CadViewModel
@inject IViewLocalizer Localizer
@{
    ViewBag.Cols = 2;
    ViewBag.Buttons = new string[] { "Download", "Colorize" };
    ViewBag.Header = $"{Localizer["Camera"].Value} - X:{Model.Coords[0]} Y:{Model.Coords[1]} Z:{Model.Coords[2]}";
}

<h1 class="text-center">@Localizer["Title", Model.Name]</h1>
<hr />

<partial name="_CardCadPartial" model="Model" view-data="ViewData" />

<script>
    const divElement = document.getElementById('model-@Model.Id');
    divElement.setAttribute('style', 'height: 50vh; width: 100%;');
</script>