@model OrderViewModel[]
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "All Orders";
    string[] statuses = ViewBag.Statuses;
}
<h2 class="text-center">@Localizer["Title", ViewBag.HiddenOrders]</h2>
<hr />

@if (!Model.Any())
{
    <p class="text-center">@Localizer["NoOrders"]</p>
}
else
{
    <div class="container mt-4">
        <div class="row d-flex justify-content-evenly">
            @foreach (string status in statuses)
            {
                <partial name="_AllOrdersPartial" 
                    model="Model.Where(o => o.Status == status)"
                    view-data="ViewData" view-data-status="status" />
            }
        </div>
    </div>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

@section Styles {
    <style>
        :root {
            --upload-text: '@Localizer["Upload"]';
        }
    </style>
    <link rel="stylesheet" href="~/css/all.css" />
}