@inject IViewLocalizer Localizer

<li class="nav-item">
    <a asp-area="Admin" asp-controller="Users" asp-action="Index"
       class="nav-link text-dark" role="button">
        @Localizer["Users"]
    </a>
</li>
<li class="nav-item">
    <a asp-area="Admin" asp-controller="Roles" asp-action="Index"
       class="nav-link text-dark" role="button">
        @Localizer["Roles"]
    </a>
</li>
<li class="nav-item">
    <a asp-area="Admin" asp-controller="Cads" asp-action="Index"
       class="nav-link text-dark" role="button">
        @Localizer["Cads"]
    </a>
</li>