@inject IViewLocalizer Localizer

<li class="nav-item">
    <a asp-area="" asp-controller="Home" asp-action="Category"
       class="nav-link text-dark text-end" role="button">
        @Localizer["Explore"]
    </a>
</li>
<li class="nav-item">
    <a asp-area="Client" asp-controller="Orders" asp-action="Index"
       class="nav-link text-dark" role="button">
        @Localizer["UrOrders"]
    </a>
</li>