@inject IViewLocalizer Localizer

<li class="nav-item">
    <a asp-area="" asp-controller="Home" asp-action="Category"
       class="nav-link text-dark text-end" role="button">
        @Localizer["Explore"]
    </a>
</li>