.container {
	display: flex;
	flex-direction: row;
}

#title {
	font-size: 200%;
	text-align: center
}

.text {
	text-align: center;
	font-size: 150%;
}

#image {
	width: 25vw;
	height: 25vw;
}

#form {
	display: flex;
	flex-direction: column;
	row-gap: 20px;
}

#name {
}

#desc {
}

#category {
}

#button {
	width: 100%;
	height: auto;
}

.links {
	font-weight: bold;
	color: #1CAAD9;
}

.slots {
	font-size: 13px;
	font-weight: normal;
	text-align: center;
	margin: 5px;
	color: #4A4A4A;
}
