@model CadQueryInputModel
@inject IViewLocalizer Localizer
@{
    ViewBag.Buttons = new string[] { "Download", "Colorize", "Edit", "Delete" };
    ViewBag.Area = "Contributer";
}

<h2 class="text-center">@Localizer["Title", User.Identity!.Name!]</h2>
<hr />

<div class="d-flex justify-content-center mb-2">
    <a class="btn btn-primary" asp-area="Contributer" asp-controller="Cads" asp-action="Add">@Localizer["Add"]</a>
</div>


@if (!Model.Cads.Any())
{
    <p class="text-center">@Localizer["NoModels"]</p>
}
else
{
    <div class="mt-4">
        <div class="row">
            @foreach (CadViewModel cad in Model.Cads)
            {
                ViewBag.Header = $"{cad.Name} ({Localizer[cad.Category].Value})";
                <partial name="_CardCadPartial" model="cad" view-data="ViewData" view-data-cols="Model.Cols"/>
            }
        </div>
    </div>

}

<partial name="_PaginationPartial" model="Model" view-data="ViewData" />