@model CadQueryInputModel
@inject IViewLocalizer Localizer
@{
    ViewBag.Cols = 3;
}

<h2 class="text-center">@Localizer["All"] @Localizer[ViewBag.Category ?? "Cads"]</h2>
<hr />

<partial name="_CadQueryPartial" model="Model" view-data="ViewData" />

@if (!Model.Cads.Any())
{
    <p class="text-center">@Localizer["No models"]</p>
}
else
{
    <div class="container text-center mt-5">
        <div class="row">
            @foreach (CadViewModel cad in Model.Cads)
            {
                string userId = User.GetId();
                @await Component.InvokeAsync("CategoryCadComponent", new { cad, userId, cols = ViewBag.Cols })
            }
        </div>
    </div>
}

<partial name="_PaginationPartial" model="Model" view-data="ViewData" />