@{
    ViewData["Title"] = "Home Page";
}

<html>
<head>
    <link rel="stylesheet" href="css/home/index.css" />
</head>

<body>

    <section class="container">
        <section>
            <h1 class="fade-in body">Bring Your Imagination To Life!</h1>
            <p  class="fade-in body">
                In a world sculpted by pixels and imagination, 
                each 3D model is a bridge between dream and reality, 
                transforming visions into virtual 3D masterpieces!
            </p>
        </section>
        <aside id="hui" class="fade-in body">
            <iframe class="floater" title="A 3D model of a shoe" 
                src="https://sketchfab.com/models/99bfe75ebd734fa3832a63e02e2cacf7/embed?annotations_visible=0&autospin=-1&autostart=1&preload=1&camera=1&double_click=0&internal=1&max_texture_size=1024&orbit_constraint_pan=1&orbit_constraint_zoom_in=40&orbit_constraint_zoom_out=60&scrollwheel=1&sound_enable=1&transparent=1&ui_animations=0&ui_annotations=0&ui_ar=0&ui_ar_help=0&ui_color=white&ui_fadeout=0&ui_fullscreen=0&ui_help=0&ui_infos=0&ui_inspector=0&ui_settings=0&ui_stop=0&ui_theatre=0&ui_theme=light&ui_vr=0&ui_watermark=0" 
                frameborder="0" 
                allow="autoplay; fullscreen; xr-spatial-tracking" 
                allowfullscreen="" mozallowfullscreen="true" webkitallowfullscreen="true" 
                xr-spatial-tracking="true" 
                execution-while-out-of-viewport="true" execution-while-not-rendered="true" 
                web-share="true">
            </iframe>
        </aside>
    </section>

    <hr />

    <section class="container">
        <div class="fade-in button body">
            <img src="" alt="" />
            <a asp-area="" asp-controller="CAD" asp-action="Add">Order Your Design</a>
        </div>
        <div class="fade-in button body">
            <img src="" alt="" />
            <a asp-area="" asp-controller="CAD" asp-action="Categories">Explore The Gallery</a>
        </div>
        <div class="fade-in button body">
            <img src="" alt="" />
            <a target="_self" asp-area="" asp-controller="DeepAI" asp-action="GenerateImage">Design With AI</a>
        </div>
    </section>

</body>
</html>