@{
    ViewData["Title"] = "Home Page";
    string src1 = "https://unpkg.com/@google/model-viewer/dist/model-viewer.js";
    string src2 = "https://unpkg.com/@google/model-viewer/dist/model-viewer-legacy.js";
}
<html>
<head>
    <style>
        h1 {
            font-size: 120%
        }
        p {
            font-size: 120%
        }

        /* The page occupies 100% of the screen */
        html {
            height: 100%;
            width: 100%;
        }

        /* The content occupies the entire space available */
        body {
            height: 100%;
            margin: 0;
            background-color: #455A64;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }

        /* Transform the page into a 2-column grid */
        #holder {
            display: grid;
            grid-template-columns: 1fr 1fr;
            height: 100%;
        }

        /* The left grid contains the text and occupies 50% of the available space */
        #text {
            align-self: center;
            justify-self: center;
            text-align: center;
            margin: 0px 45px;
        }

        /* The right grid contains the model and occupies 50% of the available space */
        model-viewer {
            width: 100%;
            height: 100%;
            outline: none;
        }
    </style>
</head>

<body>
    <div class="text-center">
        <h1 class="display-4"><b>Welcome!</b></h1><br/>
        <p>Order your custom 3D model <a asp-area="" asp-controller="CAD" asp-action="Add">HERE</a></p>
        <p>or check out our <a asp-area="" asp-controller="CAD" asp-action="Index">Gallery</a>!</p>
    </div>

    <div style="display:flex; justify-content:center; height:250px">
        <iframe id="landing-model"
                title="A 3D model of a shoe"
                class="hero__iframe"
                src="https://sketchfab.com/models/0cceb568d4a2488fa613fef05ee2b64c/embed?autospin=1&autostart=1&preload=1;
                    autospin=-0.1&amp;autostart=1&amp;camera=1&amp;double_click=0&amp;internal=1&amp;max_texture_size=1024&amp;orbit_constraint_pan=1&amp;orbit_constraint_zoom_in=10&amp;orbit_constraint_zoom_out=60&amp;preload=1&amp;scrollwheel=0&amp;sound_enable=0&amp;transparent=1&amp;ui_animations=0&amp;ui_annotations=0&amp;ui_ar=1&amp;ui_ar_help=0&amp;ui_color=white&amp;ui_fadeout=0&amp;ui_fullscreen=1&amp;ui_help=0&amp;ui_infos=0&amp;ui_inspector=0&amp;ui_settings=0&amp;ui_stop=0&amp;ui_theatre=0&amp;ui_theme=dark&amp;ui_vr=0&amp;ui_watermark=0"
                frameborder="0"
                allow="autoplay; fullscreen; xr-spatial-tracking"
                allowfullscreen=""
                mozallowfullscreen="true"
                webkitallowfullscreen="true"
                xr-spatial-tracking="true"
                web-share="true">
        </iframe>
    </div>

    
    <div id="model">
        <model-viewer src="HurHurHurHurHur.glb" alt="A 3D model of a robot" auto-rotate="" camera-controls="" background-color="#455A64"></model-viewer>
    </div>

    <!-- Loads model-viewer for modern browsers -->
    <script type="module" src=@src1></script>
    <!-- Loads model-viewer for older browsers -->
    <script nomodule src=@src2></script>
</body>
</html>