@{
}

<html>
<head>
    <!--Animation-->
    <link rel="stylesheet" href="~/css/index.css" />
</head>

<body>
    <h2 class="fade-in text-center mt-4 mb-4">CustomCADSolutions</h2>
    <hr />
    <div style="height: 350px;" class="container d-flex fade-in">
        <div style="order: 1" class="fade-in d-flex flex-column justify-content-center w-50">
            <h4 class="fade-in mb-4 text-center">@ViewBag.Title</h4>
            <p class="fade-in">@ViewBag.Message</p>
        </div>
        <article style="order: 2" class="fade-in w-50 h-auto">
            <iframe class="fade-in w-100 h-100" title="Robofrog"
                    src="https://sketchfab.com/models/99bfe75ebd734fa3832a63e02e2cacf7/embed?annotations_visible=0&autospin=-1&autostart=1&preload=1&camera=1&double_click=0&internal=1&max_texture_size=1024&orbit_constraint_pan=1&scrollwheel=1&sound_enable=1&transparent=1&ui_animations=0&ui_annotations=0&ui_ar=0&ui_ar_help=0&ui_color=white&ui_fadeout=0&ui_fullscreen=0&ui_help=0&ui_infos=0&ui_inspector=0&ui_settings=0&ui_stop=0&ui_theatre=0&ui_theme=light&ui_vr=0&ui_watermark=0"
                    frameborder="0"
                    allow="autoplay; fullscreen; xr-spatial-tracking"
                    allowfullscreen="" mozallowfullscreen="true" webkitallowfullscreen="true"
                    xr-spatial-tracking="false"
                    execution-while-out-of-viewport="false" execution-while-not-rendered="false"
                    web-share="true">
            </iframe>
        </article>
    </div>
</body>
</html>