@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"><b>Welcome</b></h1>
    <p>Check out our <a asp-area="" asp-controller="Gallery" asp-action="Show">Gallery</a>!</p>
    <p><a asp-area="" asp-controller="Order" asp-action="Description">Create</a> Your Custom Design!</p>
</div>
