@{
    ViewData["Title"] = "Home Page";
}



<div class="text-center">

    <!-- Your HTML content goes here -->
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>


    <div class="sketchfab-embed-wrapper"> <iframe title="Airpods" frameborder="0" allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" allow="autoplay; fullscreen; xr-spatial-tracking" xr-spatial-tracking execution-while-out-of-viewport execution-while-not-rendered web-share src="https://sketchfab.com/models/0cceb568d4a2488fa613fef05ee2b64c/embed"> </iframe> <p style="font-size: 13px; font-weight: normal; margin: 5px; color: #4A4A4A;"> <a href="https://sketchfab.com/3d-models/mazna-0cceb568d4a2488fa613fef05ee2b64c?utm_medium=embed&utm_campaign=share-popup&utm_content=0cceb568d4a2488fa613fef05ee2b64c" target="_blank" rel="nofollow" style="font-weight: bold; color: #1CAAD9;"> Airpods </a> by <a href="https://sketchfab.com/BorisKolev?utm_medium=embed&utm_campaign=share-popup&utm_content=0cceb568d4a2488fa613fef05ee2b64c" target="_blank" rel="nofollow" style="font-weight: bold; color: #1CAAD9;"> BorisKolev </a> on <a href="https://sketchfab.com?utm_medium=embed&utm_campaign=share-popup&utm_content=0cceb568d4a2488fa613fef05ee2b64c" target="_blank" rel="nofollow" style="font-weight: bold; color: #1CAAD9;">SolidWorks2018</a></p></div>

</div>
