@{
}

<div>
    <h3></h3>
    <form>
        <div>
            <div>
                <label></label>
                <input />
                <span></span>
            </div>
            <div>
                <label></label>
                <input />
                <span></span>
            </div>
        </div>
        <input />
    </form>
</div>
