@inject IViewLocalizer Localizer
@{
    int id = ViewBag.Id;
    string name = ViewBag.Name;
}

<form asp-action="Hide" asp-route-id="@id">
    <div class="row justify-content-center">
        <div class="col-6">
            <input type="submit" value="@Localizer["Done"]" class="btn btn-success w-100" disabled/>
        </div>
    </div>
</form>