@model CadInputModel
@inject IViewLocalizer Localizer
@{
    int cadId = ViewBag.CadId;
    string buyerId = ViewBag.BuyerId;
}

<form asp-area="Designer" asp-controller="Orders" asp-action="Hide">
    <input asp-for="Id" value="@cadId" hidden />
    <input asp-for="BuyerId" value="@buyerId" hidden />
    <div class="row justify-content-center">
        <div class="col-6">
            <input type="submit" value="@Localizer["Hide"]" class="btn btn-success w-100"
                   onclick="return confirm('@Localizer["HideWarning", ViewBag.Name]')" />
        </div>
    </div>
</form>