@inject IViewLocalizer Localizer
@{
    int id = ViewBag.Id;
    string color = ViewBag.Color;
}

<form id="color-form" asp-action="ChangeColor"
        class="d-flex justify-content-around" method="post">
    <input id="pickColor-@id" type="color" class="form-control-color" value="@color" />
    <input id="submit-@id" type="submit" value="@Localizer["Apply"]" class="btn btn-secondary col-4" />
</form>