@inject IViewLocalizer Localizer
@{
    int id = ViewBag.Id;
}

<a asp-area="" asp-controller="Home" asp-action="DownloadCad" asp-route-id="@id" 
        class="btn btn-primary col-4">
    @Localizer["Download"]
</a>