@inject IViewLocalizer Localizer
@{
    int productId = ViewBag.ProductId;
}

<a asp-controller="Orders" asp-action="Order" asp-route-id="@productId" 
        class="btn btn-secondary text-decoration-none">
    @Localizer["Order", Model.Price]
</a>
