@inject IViewLocalizer Localizer
@{
    int id = ViewBag.Id;
    string name = ViewBag.Name;
}

<div class="row justify-content-center">
    <a asp-action="Finish" asp-route-id="@id" class="col-8 btn btn-danger">
        @Localizer["Finish", name]
    </a>
</div>