@inject IViewLocalizer Localizer
@{
    int id = ViewBag.Id;
    string name = ViewBag.Name;
}

<form asp-action="Begin" asp-route-id="@id">
    <div class="row justify-content-center">
        <div class="col-8">
            <input type="submit" value="@Localizer["Begin"]" class="btn btn-warning w-100"
                   onclick="return confirm('@Localizer["BeginWarning", name]')" />
        </div>
    </div>
</form>