@model CadViewModel

<form id="payment-form" method="post" autocomplete="off">
    <input name="id" value="@Model.Id" hidden />

    <div class="row justify-content-center mb-3">
        <div class="col-6">
            <label for="card-element" class="form-label mb-4">Credit or debit card</label>
            <div id="card-element" class="mb-3"></div>
            <div id="card-errors" role="alert" class="small text-danger"></div>
        </div>
    </div>

    <div class="row justify-content-center mb-4">
        <div class="col-1">
            <button id="submit-button" class="btn btn-primary">Order</button>
        </div>
    </div>
</form>