@using CustomCADSolutions.Infrastructure.Data.Models.Enums
@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@inject UserManager<IdentityUser> UserManager
@{
    //await UserManager.AddToRoleAsync(await UserManager.FindByNameAsync("NinjaBG"), "Contributer");
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>CustomCADSolutions</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" type="image/x-icon" href="~/icon.ico" />

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/layout.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <button class="navbar-toggler toggler fade-in" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon toggler-icon"></span>
                </button>
                <a style="width: 10vh; height: 10vh;" class="fade-in me-3" asp-area="" asp-controller="Home" asp-action="Index">
                    <img class="mw-100 h-auto" src="~/logo.png">
                </a>

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between fs-5">
                    <ul class="justify-content-start fade-in navbar-nav flex-grow-1">
                        @if (User.Identity!.IsAuthenticated)
                        {
                            string userId = User.FindFirstValue(ClaimTypes.NameIdentifier);
                            IdentityUser? user = await UserManager.FindByIdAsync(userId);
                            if (await UserManager.IsInRoleAsync(user, "Administrator"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-controller="Home" asp-action="Categories" role="button">Categories</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Order" asp-action="All" role="button">All Orders</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Cad" asp-action="Index" role="button">Your 3D Models</a>
                                </li>
                            }
                            else if (await UserManager.IsInRoleAsync(user, "Contributer"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-controller="Home" asp-action="Categories" role="button">Categories</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Order" asp-action="Index" role="button">Your Orders</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Cad" asp-action="Index" role="button">Your 3D Models</a>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-controller="Home" asp-action="Categories" role="button">Categories</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Order" asp-action="Index" role="button">Your Orders</a>
                                </li>
                            }
                        }
                        else 
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Home" asp-action="Index" role="button">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Home" asp-action="Categories" role="button">Explore</a>
                            </li>
                        }
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <hr />

    <footer class="footer position-relative w-100 bottom-0 left-0">
        <p class="container text-dark">&copy; 2023 - CustomCADSolutions - <a class="text-dark" asp-area="" asp-controller="Home" asp-action="Privacy"><b>Privacy Policy</b></a></p>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
