<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="css/home/layout.css" />
    <link rel="shortcut icon" type="image/x-icon" href="~/others/images/favicon.ico" />

    <title>CustomCADSolutions</title>
    
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/home/index.css"/>
    <link rel="stylesheet" href="~/CustomCADSolutions.App.styles.css" asp-append-version="true" />
</head>
<body style="background-color:#DDDDDD">
    <header>
        <nav class="navbar-expand-sm">
            <div class="container-fluid header">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar">
                    <a id="logo" class="fade-in" asp-area="" asp-controller="Home" asp-action="Index">
                        <img src="~/others/images/logo3.png" width="100%" height="100%">
                    </a>
                    <ul class="fade-in navbar-nav flex-grow-1" style="font-size:150%; list-style: none; padding: 0; display : flex; margin-left:10px">
                        <li id="hbtn1" class="nav-item fade-in">
                            <a class="nav-link text-dark fw-bold" asp-area="" asp-controller="CAD" asp-action="Categories">Explore</a>
                        </li>
                        <li id="hbtn2" class="nav-item fade-in">
                            <a class="nav-link text-dark fw-bold" asp-area="" asp-controller="CAD" asp-action="Add">Order 3D Model</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container" >
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted position-static">
        <div style="color: black;" class="container">
            &copy; 2023 - CustomCADSolutions - <a style="color: black" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy Policy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
