<!DOCTYPE html>
<html lang="en">
<head>
    <title>CustomCADSolutions</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" type="image/x-icon" href="~/others/images/favicon.ico" />

    <link rel="stylesheet" href="~/css/home/layout.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a id="logo" class="fade-in" asp-area="" asp-controller="Home" asp-action="Index">
                    <img class="logo" src="~/others/images/logo.png">
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul id="buttons" class="fade-in navbar-nav flex-grow-1">
                        <li id="hbtn1" class="nav-item fade-in">
                            <a class="nav-link text-dark" asp-area="" asp-controller="CAD" asp-action="Categories">Explore</a>
                        </li>
                        <li id="hbtn2" class="nav-item fade-in">
                            <a class="nav-link text-dark" asp-area="" asp-controller="CAD" asp-action="Add">Order</a>
                        </li>
                        <li id="hbtn3" class="nav-item fade-in">
                            <a class="nav-link text-dark" asp-area="" asp-controller="DeepAI" asp-action="GenerateImage">AI</a>
                        </li>
                    </ul>

                    <ul id="register" class="fade-in navbar-nav flex-grow-1">
                        <li id="hbtn4" class="fade-in text-dark fw-bold">
                            <a class="fade-in nav-link text-dark fw-bold">Log-in</a>
                        </li>
                        <li id="hbtn5" class="fade-in text-dark fw-bold">
                            <a class="fade-in nav-link text-dark fw-bold">Sign-up</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <section>
        <main role="main" >
            @RenderBody()
        </main> 
    </section>

    <hr />

    <footer class="footer position-static">
        <div class="container text-dark">
            &copy; 2023 - CustomCADSolutions - <a class="text-dark" asp-area="" asp-controller="Home" asp-action="Privacy"><b>Privacy Policy</b></a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
