@inject IViewLocalizer Localizer
@{
    ViewBag.ReturnUrl = Context.Request.Path + Context.Request.QueryString;
    string title = ViewData["Title"]?.ToString() == "CustomCADSolutions" ? "CustomCADSolutions" : $"{ViewData["Title"]} - CustomCADSolutions";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>@title</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" type="image/x-icon" href="~/icon.ico" />

    <link rel="stylesheet" href="~/css/layout.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    @await RenderSectionAsync("Styles", required: false)

    <script type="importmap">
        {
            "imports": {
                "three": "https://cdn.jsdelivr.net/npm/three@latest/build/three.module.js",
                "three/addons/": "https://cdn.jsdelivr.net/npm/three@latest/examples/jsm/"
            }
        }
    </script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand logo fade-in p-0 me-3" asp-area="" asp-controller="Home" asp-action="Index">
                    <img class="mw-100 h-auto" src="~/logo.png" />
                </a>
                <button class="navbar-toggler toggler fade-in" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between fs-5">
                    <div class="fade-in d-flex flex-sm-row flex-column">
                        <partial name="_MainMenuPartial" />
                    </div>
                    <div>
                        <ul class="navbar-nav d-flex flex-row justify-content-around alignt-items-center fade-in">
                            <partial name="_LanguagePartial" view-data="@ViewData" />
                            <partial name="_LoginPartial" />
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-2">
            @RenderBody()
        </main>
    </div>

    <hr />

    <footer class="footer position-relative w-100">
        <partial name="_FooterPartial" />
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
