@{
}

<h1>Describe your design here: </h1>
<label for="fdescription">Description: </label><br>
<textarea id="fdescription" style="width:750px; height:350px;"></textarea>
<div>
    <button style="button">
        <a class="nav-link text-dark" asp-area="" asp-controller="Order" asp-action="Sent">
            Send to designer
        </a>
    </button>
</div>