@model CadInputModel
@{
    ViewData["Title"] = "Upload 3D Model";
}

<head>
    <script type="importmap">
        {
          "imports": {
              "three": "https://unpkg.com/three@v0.161.0/build/three.module.js",
              "three/addons/": "https://unpkg.com/three@v0.161.0/examples/jsm/"
          }
        }
    </script>
</head>
<body>
    <h2 class="text-center">@ViewData["Title"]</h2>
    <hr />

    <div class="container">
        <form method="post" autocomplete="off" enctype="multipart/form-data">
            <input asp-for="Id" hidden />

            <div class="row justify-content-center mt-3">
                <div class="col-3">
                    <label asp-for="CadFile" class="form-label"></label>
                    <input asp-for="CadFile" type="file" accept=".stl" class="form-control" />
                    <span asp-validation-for="CadFile" class="small text-danger"></span>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-1">
                    <input class="btn btn-primary" type="submit" value="Submit" />
                </div>
            </div>
 
        </form>
    </div>
</body>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}