@{
    @using CustomCADSolutions.Infrastructure.Data.Models.Enums
    @model OrderInputModel
    var categories = (ViewData["Categories"] as Category[])!;
}

<html>
<head>
    <link rel="stylesheet" href="~/css/order/add.css" />
</head>
<body>

    <section id="container">
        <h1 id="title">Describe your design here: </h1>
        <section>
            <form asp-action="Index" method="post" autocomplete="off">
                <div class="mb-3 field">
                    <label asp-for="Name" class="form-label">Name</label>
                    <input style="width:500px" asp-for="Name" class="form-control" aria-required="true" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="mb-3 field">
                    <label asp-for="Category" class="form-label">Category</label>
                    <select style="width:500px" asp-for="Category" class="form-control" aria-required="true">
                        @foreach (Category item in categories)
                        {
                            Category category = item;
                            <option value="@category">@category</option>
                        }
                    </select>
                    <span asp-validation-for="Category" class="text-danger"></span>
                </div>
                <div class="mb-3 field">
                    <label asp-for="Description" class="form-label-add-edit">Description</label>
                    <textarea style="width: 500px" asp-for="Description" class="form-control" aria-required="true" rows="5"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div id="button" class="mb-3">
                    <input class="btn btn-primary" type="submit" value="Order" />
                </div>

            </form>
        </section>
    </section>
</body>
</html>

@section Scripts {
    @{
        await Html.PartialAsync("_ValidationScriptsPartial");
    }
}
