@model OrderViewModel
@{
    int columns = 1;
    int rows = 3;
}

<html>
<head>
    <style>
        #container1 {
            display: flex;
            grid-auto-columns: auto auto;
        }

        #container2 {
            display: flex;
            grid-auto-columns: auto auto auto;
        }

        #title {
            font-size: 200%;
            text-align: center
        }

        .text {
            text-align: center;
            font-size: 150%;
        }

        #image {
            width: 25vw;
            height: 25vw;
        }

        #input {
            width: 50vw;
            height: 25vw;
        }

        .links {
            font-weight: bold;
            color: #1CAAD9;
        }

        .slots {
            font-size: 13px;
            font-weight: normal;
            text-align: center;
            margin: 5px;
            color: #4A4A4A;
        }
    </style>
</head>

<body>
    <p id="title"><b>Your order was successfully sent to the designer and is currently waiting to be reviewed. Thank you!</b></p>
    <section id="container1">
        <p class="text">AI visualization of your order: <img id="image" src="/others/images/background.jpg" alt="AI visualization" /> </p>
        <p class="text">Not what you had in mind? Edit your description: <textarea id="input"></textarea></p>
    </section>


    <p class="text">Other designs you might like: </p>
    <section id="container2">
        @for (int i = 0; i < columns; i++)
        {
            @for (int j = 0; j < rows; j++)
            {
                <iframe title="" src="https://sketchfab.com/models/9140bf761568430fa1b1d8c935e26eed/embed" frameborder="0" allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" allow="autoplay; fullscreen; xr-spatial-tracking" xr-spatial-tracking execution-while-out-of-viewport execution-while-not-rendered web-share> </iframe>
            }
        }
    </section>
</body>
</html>