body {
	background-color: #DDDDDD !important;
}

header nav {
	background-color: #BBB9D9 !important;
}

.logo {
	width: 10vh;
	height: 10vh;
}

	.logo img:hover {
		opacity: 60%;
	}

.dropdown-toggle {
	width: 100%;
	height: auto;
}

.dropdown-menu {
	min-width: 1px !important;
	width: 4rem;
}
