@model OrderViewModel
@inject IViewLocalizer Localizer

<a asp-area="" asp-controller="Home" asp-action="CadDetails" 
   asp-route-id="@Model.Id" class="col btn btn-secondary">
    @Localizer["Details"]
</a>