@model OrderViewModel
@inject IViewLocalizer Localizer

<a asp-area="" asp-controller="Home" asp-action="DownloadCad" asp-route-id="@Model.CadId"
   class="col btn btn-primary">
    @Localizer["Download"]
</a>