<h2 class="text-center text-danger mb-2">OOPS</h2>
<h4 class="text-center mb-4">An exception was thrown while processing your request.</h4>
<div class="d-flex flex-column align-items-center">
    <div class="col-sm-6 col-12">
        <img src="~/others/images/errors/cow.png" class="w-100 h-auto" />
        <p class="text-center fw-bold mt-2">I wonder what it could be...</p>
    </div>
</div>