<h2 class="text-center text-danger mb-2">OOPS</h2>
<h4 class="text-center mb-4">A 500 error occured while processing your request.</h4>
<div class="d-flex flex-column align-items-center">
    <div class="col-sm-6 col-12">
        <img src="~/others/images/errors/kitty.png" class="w-100 h-auto" />
        <p class="text-center fw-bold">The server has encountered an unexpected error and cannot complete the request.</p>
    </div>
</div>