@model CADInputModel
@{
}

<html>
<head>

</head>
    <link rel="stylesheet" href="~/css/style.css" />
<body>

    <h1 style="text-align:left">Describe your design here: </h1>
    <br />
    <div class="row">
        <div>
            <form asp-action="Add" method="post">
                <div class="mb-3">
                    <label asp-for="Name" class="form-label"></label>
                    <input style="width:500px" asp-for="Name" class="form-control" aria-required="true" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Category" class="form-label"></label>
                    <input style="width:500px;" asp-for="Category" class="form-control" aria-required="true" />
                    <span asp-validation-for="Category" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <input class="btn btn-primary" type="submit" value="Order" />
                </div>
            </form>
        </div>
        <p>Or straight up e-mail it to us <a href="mailto:ivanangelov414@gmail.com">here</a></p>
    </div>

</body>
</html>