@{
    @model ICollection<string>

}

<html>
<head>
    <link rel="stylesheet" href="~/css/cad/categories.css" />
</head>
<body>

    <div class="container">
        @foreach (string category in Model)
        {
            <div class="cell">
                <a asp-area="" asp-controller="CAD" asp-action="Category" asp-route-category="@category">
                    <img src="~/others/categories/@(category).png" alt="@category" width="600px" height="400px">
                    <p class="desc"><b>@category</b></p>
                </a>
            </div>
        }
    </div>

</body>
</html>