@{
    @model CategoryViewModel
    ViewData["Title"] = Model.Name;
}


<html>
<head>
    <style>
        #title {
            text-align: center;
            font-family: 'Open Sans';
        }

        #container {
            display: grid;
            grid-template-columns: auto auto auto auto;
            margin-left: 3%;
        }

        #cell {
            text-align: center;
        }

            #cell #model {
                max-width: 100%;
                height: auto;
                border-radius: 11%;
            }

            #cell #description {
                font-family: 'Open Sans';
                font-size: 100%;
                text-align: center;
            }

    </style>
</head>

<body>
    <h1 id="title">@ViewData["Title"]</h1>
    <div id="container">
        @foreach (CADViewModel modelInfo in Model.CADs)
        {
            <div class="cell">
                <iframe id="model" src="https://sketchfab.com/models/@modelInfo.Url/embed" frameborder="0" allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" allow="autoplay; fullscreen; xr-spatial-tracking" xr-spatial-tracking execution-while-out-of-viewport execution-while-not-rendered web-share> </iframe>
                <p id="description">@modelInfo.Name</p>
            </div>
        }
    </div>
</body>
</html>