@model IEnumerable<CadViewModel>
@{
    string category = ViewBag.Category == "All" ? "All 3D Models" : ViewBag.Category;
}

<h2 class="text-center mb-3">@category</h2>
<hr />

@if (!Model.Any())
{
    <p class="text-center">No models yet...</p>
}
else
{
    <div class="container text-center mt-5">
        <div class="row">
            @foreach (CadViewModel modelInfo in Model)
            {
                <div class="col-4">
                    <div id="model"></div>
                    <p>@modelInfo.Name</p>
                </div>
                <script src="/build/three.min.js"></script>
                <script src="/examples/js/loaders/STLLoader.js"></script>
                <script src="/examples/js/controls/OrbitControls.js"></script>
                <script type="text/javascript">
                    window.onload = function () {
                        STLViewer("@modelInfo.Cad.FileName", "model")
                    }
                </script>
            }
        </div>
    </div>
}
