@{
}

<html>
<head>
    <style>
        .categories-grid__card {

        }

        #view1 {

        }

        #view2 {

        }
    </style>

</head>

<body>

    <div data-component="" id="view1" class="categories-grid__card">
        <div class="c-grid__item item">
            <div class="category-card">
                <div class="image-container">
                    <div style="padding-top: 56.25%;"></div>
                    <img data-selenium="image" class="image-container__image" alt="Animals &amp; Pets" src="https://static.sketchfab.com/categories/ed9e048550b2478eb1ab2faaba192832/800x450.png">
                </div>
                <div class="label">
                    <i class="icon skfb-icon skfb-icon-category-animals-pets"></i>
                    <h2>Animals &amp; Pets</h2>
                </div>
            </div>
        </div>
    </div>
    <div data-component="" id="view2" class="categories-grid__card">
        <div class="c-grid__item item">
            <div class="category-card">
                <div class="image-container">
                    <div style="padding-top: 56.25%;"></div>
                    <img data-selenium="image" class="image-container__image" alt="Architecture" src="https://static.sketchfab.com/categories/f825c721edb541dbbc8cd210123616c7/800x450.png">
                </div>
                <div class="label">
                    <i class="icon skfb-icon skfb-icon-category-architecture"></i>
                    <h2>Architecture</h2>
                </div>
            </div>
        </div>
    </div>

</body>
</html>