@model IEnumerable<OrderViewModel>
@inject IViewLocalizer Localizer

<h2 class="text-center mb-2">@Localizer["Title", User.Identity!.Name!]</h2>
<hr />

<div class="d-flex justify-content-center mb-2">
    <a class="btn btn-primary" asp-controller="Orders" asp-action="Add">@Localizer["Add"]</a>
</div>

@if (!Model.Any())
{
    <p class="text-center">@Localizer["NoOrders"]</p>
}
else
{
    <div class="container mt-4">
        <div class="row">
            @foreach (OrderViewModel order in Model)
            {
                <partial name="_OrdersPartial" model="order" view-data="ViewData" />
            }
        </div>
    </div>
}