@model CadQueryInputModel
@inject IViewLocalizer Localizer
@{
    ViewBag.Cols = 4;
    ViewBag.Buttons = new string[] { "Delete" };
}

<h2 class="text-center">@Localizer["Title"]</h2>
<hr />

<partial name="_CadQueryPartial" model="Model" view-data="ViewData" />

<div class="container">
    @if (Model.Cads.Any())
    {
        <div class="row d-flex">
            @foreach (CadViewModel cad in Model.Cads)
            {
                ViewBag.Header = $"{cad.Name} ({Localizer[cad.Category].Value})";
                <partial name="_CardCadPartial" model="cad" view-data="ViewData" />
            }
        </div>
    }
    else
    {
        <p class="text-center">@Localizer["NoCads"]</p>
    }
</div>

<partial name="_PaginationPartial" model="Model" view-data="ViewData" />