@model AddRoleModel
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Create Role";
}

<h2 class="text-center">@Localizer["Title"]</h2>
<hr />

<div class="container">
    <form method="post" autocomplete="off">
        <div class="row justify-content-center mb-3">
            <div class="col-3">
                <label asp-for="Name" class="form-label"></label>
                <input asp-for="Name" class="form-label" placeholder="Role..." />
                <span asp-validation-for="Name" class="small text-danger"></span>
            </div>
        </div>

        <div class="row justify-content-center mb-3">
            <div class="col-1">
                <input type="submit" value="@Localizer["Submit"]" class="btn btn-primary" />
            </div>
        </div>
    </form>
</div>