@model EditRoleModel
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Edit Role";
}

<h2 class="text-center">@Localizer["Title", Model.Name]</h2>
<hr />

<div class="container">
    <form method="post" autocomplete="off">
        <input asp-for="Id" hidden />

        <div class="row justify-content-center mb-3">
            <div class="col-6">
                <label asp-for="Name" class="form-label"></label>
                <input asp-for="Name" class="form-control" placeholder="@Localizer["NamePlaceholder"]" />
                <span asp-validation-for="Name" class="small text-danger"></span>
            </div>
        </div>
        
        <div class="row justify-content-center mb-3">
            <div class="col-6">
                <label asp-for="Description" class="form-label"></label>
                <textarea asp-for="Description" class="form-control" placeholder="@Localizer["DescriptionPlaceholder"]"></textarea>
                <span asp-validation-for="Description" class="small text-danger"></span>
            </div>
        </div>

        <div class="row justify-content-center mb-3">
            <div class="col-1">
                <input type="submit" value="@Localizer["Submit"]" class="btn btn-primary" />
            </div>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}