@model CadViewModel[]
@inject IViewLocalizer Localizer
@{
    int designerModelsCount = ViewBag.UserModelsCount;
    var designerDetails = designerModelsCount > 0 ? Localizer["Has", designerModelsCount] : Localizer["Hasn't"];
    
    int unvalidatedModelsCount = Model.Count(c => !c.Validated);
    var unvalidatedDetails = unvalidatedModelsCount > 0 ? Localizer["Has", unvalidatedModelsCount] : Localizer["Hasn't"];

    ViewBag.Cols = 3;
    ViewBag.Buttons = Array.Empty<string>();
}

<h2 class="text-center">@Localizer["Title"]</h2>
<hr />

<div class="container">
    <div class="row d-flex justify-content-evenly">
        <a class="col-sm-2 col-12 mb-sm-0 mb-3 btn btn-primary" asp-area="Designer" asp-controller="Cads" asp-action="Index">
            @Localizer["UrCads", designerDetails]
        </a>
        <a class="col-sm-2 col-12 mb-sm-0 mb-3 btn btn-secondary" asp-area="Designer" asp-controller="Cads" asp-action="Submitted">
            @Localizer["UnvCads", unvalidatedDetails]
        </a>
    </div>
    @if (Model.Any())
    {
        <div class="row d-flex">
            @foreach (CadViewModel cad in Model)
            {
                ViewBag.Header = $"{cad.Name} ({Localizer[cad.Category].Value})";
                <partial name="_CardCadPartial" model="cad" view-data="ViewData" />
            }
        </div>
    }
    else
    {
        <p>@Localizer["NoCads"]</p>
    }
</div>