@model CadQueryInputModel
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "All 3D Models";
    ViewBag.Buttons = Array.Empty<string>();
}

<div class="row d-flex justify-content-around">
    <a asp-area="Designer" asp-controller="Cads" asp-action="Index"
       class="col-sm-2 col-12 btn btn-primary">
        @Localizer["UrCads", ViewBag.DesignerDetails]
    </a>
    <div class="col-3 d-flex align-items-end">
        <h2>@Localizer["Title"]</h2>
    </div>
    <a asp-area="Designer" asp-controller="Cads" asp-action="Submitted"
       class="col-sm-2 col-12 btn btn-secondary">
        @Localizer["UnvCads", ViewBag.UnvalidatedDetails]
    </a>
</div>
<hr />


<partial name="_CadQueryPartial" model="Model" view-data="ViewData" />

<div class="container">
    @if (!Model.Cads.Any())
    {
        <p class="text-center">@Localizer["NoCads"]</p>
    }
    else
    {
        <div class="row d-flex">
            @foreach (CadViewModel cad in Model.Cads)
            {
                ViewBag.Header = $"{cad.Name} ({Localizer[cad.Category].Value})";
                <partial name="_CardCadPartial" model="cad" view-data="ViewData" view-data-cols="Model.Cols" />
            }
        </div>
    }
</div>

<partial name="_PaginationPartial" model="Model" view-data="ViewData" />
