@model CadQueryInputModel
@inject IViewLocalizer Localizer
@inject IStringLocalizer<Shared.CategoryResources> CategoryLocalizer
@{
    ViewData["Title"] = "All 3D Models";
    ViewBag.Buttons = Array.Empty<string>();
}

<div class="row d-flex justify-content-around">
    <a id="user-cads-wrapper" asp-area="" asp-controller="Cads" asp-action="Index"
            class="col-sm-3 col-12 btn btn-success">
        @Localizer["UrCads"] <br /> <span id="user-cads-count"></span>
    </a>
    <div class="col-4 d-flex justify-content-center align-items-end">
        <h2>@Localizer["Title"]</h2>
    </div>
    <a id="unvalidated-cads-wrapper" asp-area="Designer" asp-controller="Cads" asp-action="Submitted"
            class="col-sm-3 col-12 btn btn-success">
       @Localizer["UnvCads"] <br /> <span id="unvalidated-cads-count"></span>
    </a>
</div>
<hr />

<partial name="_CadQueryPartial" model="Model" view-data="ViewData" />

<div class="container">
    @if (!Model.Cads.Any())
    {
        <p class="text-center">@Localizer["NoCads"]</p>
    }
    else
    {
        <div class="row d-flex">
            @foreach (CadViewModel cad in Model.Cads)
            {
                ViewBag.Header = $"{cad.Name} ({CategoryLocalizer[cad.Category]})";
                <partial name="_CardCadPartial" model="cad" view-data="ViewData" view-data-cols="Model.Cols" />
            }
        </div>
    }
</div>

<partial name="_PaginationPartial" model="Model" view-data="ViewData" />

@section Scripts {
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
    <script type="module">
        import loadStatistics from '/js/statistics.mjs';
        loadStatistics(`@Localizer["Calculating"]`, `@Localizer["Has"]`, `@Localizer["Hasn't"]`);
    </script>
}