@model IEnumerable<CadViewModel>
@inject IViewLocalizer Localizer
@{
    ViewBag.Cols = 4;
    ViewBag.Buttons = new string[] { "Edit", "Delete" };
}


<h2 class="text-center">@Localizer["Title", User.Identity!.Name!]</h2>
<hr />

<div class="d-flex justify-content-center mb-2">
    <a class="btn btn-primary" asp-area="Designer" asp-controller="Cads" asp-action="Add">@Localizer["Add"]</a>
</div>


@if (!Model.Any())
{
    <p class="text-center">@Localizer["NoModels"]</p>
}
else
{
    <div class="mt-4">
        <div class="row">
            @foreach (CadViewModel cad in Model)
            {
                ViewBag.Header = $"{cad.Name} ({Localizer[cad.Category].Value})";
                <partial name="_CardCadPartial" model="cad" view-data="@ViewData" />
            }
        </div>
    </div>
}