@model IEnumerable<CadViewModel>
@inject IViewLocalizer Localizer
@{
    ViewBag.Cols = 4;
    ViewBag.Buttons = new string[] { "Validate" };
}

<h2 class="text-center">@Localizer["Title"]</h2>
<hr />

@if (!Model.Any())
{
    <p class="text-center">@Localizer["NoModels"]</p>
}
else
{
    <div class="mt-4">
        <div class="row">
            @foreach (CadViewModel cad in Model)
            {
                ViewBag.Header = $"{cad.Name} ({Localizer[cad.Category].Value})";
                <partial name="_CardCadPartial" model="cad" view-data="ViewData" />
            }
        </div>
    </div>
}