@using CustomCADSolutions.Infrastructure.Data.Models.Enums
@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@inject UserManager<IdentityUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <title>CustomCADSolutions</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" type="image/x-icon" href="~/icon.ico" />

    <link rel="stylesheet" href="~/css/layout.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <button class="navbar-toggler toggler fade-in" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon toggler-icon"></span>
                </button>
                <a style="width: 10vh; height: 10vh;" class="fade-in me-3" asp-area="Bg" asp-controller="Home" asp-action="Index">
                    <img class="mw-100 h-auto" src="~/logo.png">
                </a>

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between fs-5">
                    <ul class="justify-content-start fade-in navbar-nav">
                        @if (User.Identity!.IsAuthenticated)
                        {
                            string userId = User.FindFirstValue(ClaimTypes.NameIdentifier);
                            IdentityUser? user = await UserManager.FindByIdAsync(userId);
                            if (await UserManager.IsInRoleAsync(user, "Administrator"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="Bg" asp-controller="Home" asp-action="Categories" role="button">Категории</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="Bg" asp-controller="Order" asp-action="All" role="button">Всички Поръчки</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="Bg" asp-controller="Cad" asp-action="Index" role="button">Подадени 3D Модели</a>
                                </li>
                            }
                            else if (await UserManager.IsInRoleAsync(user, "Designer"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="Bg" asp-controller="Home" asp-action="Categories" role="button">Категории</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="Bg" asp-controller="Order" asp-action="Index" role="button">Вашите Поръчки</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="Bg" asp-controller="Cad" asp-action="Index" role="button">Вашите 3D Модели</a>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="Bg" asp-controller="Home" asp-action="Categories" role="button">Категории</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="Bg" asp-controller="Order" asp-action="Index" role="button">Вашите Поръчки</a>
                                </li>
                            }
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Home" asp-action="Index" role="button">Начало</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Home" asp-action="Categories" role="button">Разгледайте</a>
                            </li>
                        }
                    </ul>
                    <ul class="navbar-nav alignt-items-center fade-in">
                        <li class="me-3 dropdown">
                            <button class="dropdown-toggle btn btn-secondary text-dark border-0 bg-transparent p-2" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="~/others/images/flags/4x3/bg.svg" alt="Bulgarian">
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" asp-area="">
                                        <img class="w-100 h-auto" src="~/others/images/flags/4x3/us.svg" alt="English">
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <partial name="_LoginPartial" />
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <hr />

    <footer class="footer position-relative w-100">
        <div class="d-flex align-items-center justify-content-evenly">
            <p class="fw-bold">
                <a class="text-dark" asp-area="Bg" asp-controller="Home" asp-action="Privacy">Поверителност</a>
            </p>
            <p>&copy; @DateTime.Now.Year - CustomCADSolutions</p>
            <p class="rounded-2">
                <span>За нас:</span>
                <a href="https://www.instagram.com/customcadsolutions/" class="text-black"><i class="ms-1 fa fa-instagram"></i></a>
                <a href="https://twitter.com/customcads/" class="text-black"><i class="ms-1 fa fa-twitter"></i></a>
            </p>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
