@media all {
	.container {
		display: flex;
	}

	#main {
		display: grid;
		width: 50%;
		height: 15vw;
		text-align: center;
	}

	#buttons {
		display: flex;
	}

	.button {
		width: 100%;
		height: auto;
		justify-content: center;
		text-align: center;
		padding: 10px;
		display: grid;
	}

		.button img {
			border-radius: 30px;
			width: 100%;
			height: auto;
		}

		.button button {
			border-radius: 8.5px;
			padding: 8%;
			border: 1px solid black;
			background-color: #F3F5F2;
		}

			.button button a {
				font-size: 100%;
				color: black;
				text-decoration: none;
			}

	#model {
		width: 100%;
		height: 50vh;
	}

	.floater {
		width: 100%;
		height: 100%;
	}
}

@media all and (max-width: 600px) {
	.container {
		display: inline-grid;
		grid-template-columns: auto;
	}

	#main {
		justify-content: center;
		display: grid;
		width: 50%;
		height: auto;
	}

	title {
		text-align: center;
	}

	subtitle {
		text-align: center;
	}

	buttons {
		display: flex;
	}

		buttons .button {
			width: 100%;
			height: auto;
			justify-content: center;
			text-align: center;
			padding: 10px;
			display: grid;
		}

			buttons .button img {
				border-radius: 30px;
				width: 100%;
				height: auto;
			}

			buttons .button button {
				border-radius: 8.5px;
				padding: 8%;
				border: 1px solid black;
				background-color: #F3F5F2;
			}

				buttons .button button a {
					font-size: 100%;
					color: black;
					text-decoration: none;
				}

	#model {
		justify-content: center;
		width: 100%;
		height: 50vh;
	}

		#model .floater {
			width: 100%;
			height: 100%;
		}
}

.fade-in {
	opacity: 0;
	animation: fadeIn 2s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

#logo {
	animation-delay: 0.25s;
}

#hbtn1 {
	animation-delay: 0.50s;
}

#hbtn2 {
	animation-delay: 0.75s;
}

#hbtn3 {
	animation-delay: 1.00s;
}

#hbtn4 {
	animation-delay: 1.25s;
}

#hbtn5 {
	animation-delay: 1.5s;
}

.body {
	animation-delay: 2s;
}

@keyframes fadeInAnimation {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}
