.container {
	display: flex
}

.text {
	display: grid;
}

.floater {
	width: 500px;
	height: 500px;
}

h1 {
	font-size: 250%;
	margin-top: 75px;
	margin-right: 31px;
}

p {
	font-size: 150%
}

.fade-in {
	opacity: 0;
	animation: fadeIn 2s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

#logo {
	animation-delay: 0.25s;
}

#hbtn1 {
	animation-delay: 0.67s;
}

#hbtn2 {
	animation-delay: 1s;
}

#title {
	animation-delay: 1.5s;
}

#paragraph{
	animation-delay: 2s;
}

#model {
	animation-delay: 2.5s;
}

#fbtn1 {
	animation-delay: 2.67s;
}

#fbtn2 {
	animation-delay: 2.85s;
}

#fbtn3 {
	animation-delay: 3s;
}

.button {
	width: 50%;
	display: flex;
	justify-content: center;
	text-align: center;
}

@keyframes fadeInAnimation {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}
