@media all {
	.container {
		display: flex;
	}

	#main {
		order: 1;
		display: flex;
		flex-direction: column;
		justify-content: center;
		row-gap: 20px;
		width: 50%;
		height: 70vh;
		text-align: center;
	}

	#title {
		font-size: 2.1em;
	}

	#subtitle {
		font-size: 1.2em;
	}

	#buttons {
		display: flex;
		column-gap: 10px;
	}

	/*
	.button img {
		border-radius: 30px;
		width: 100%;
		height: auto;
	}
	*/

	.button {
		width: 100%;
		height: auto;
		border-radius: 7px;
		padding: 4%;
		border: 0px;
	}

	/*#F3F5F2*/

	#button1 {
		background-color: #ff9e3a;
	}

	#button2 {
		background-color: #1caad9;
	}

		.button a {
			font-weight: 700;
			color: #fff;
			font-size: 100%;
			text-decoration: none;
		}

	#model {
		order: 2;
		float: right;
		width: 100%;
		height: 70vh;
	}

	.floater {
		width: 100%;
		height: 100%;
	}


	#logo {
		animation-delay: 0.25s;
	}

	#hbtn1 {
		animation-delay: 0.50s;
	}

	#hbtn2 {
		animation-delay: 0.75s;
	}

	#hbtn3 {
		animation-delay: 1.00s;
	}

	#hbtn4 {
		animation-delay: 1.25s;
	}

	.body {
		animation-delay: 2s;
	}
}

@media all and (max-width: 600px) {
	.container {
		display: flex;
		flex-direction: column;
	}

	#model {
		order: 1;
		width: 100%;
		height: 40vh;
	}

	.floater {
		width: 100%;
		height: 100%;
	}

	#main {
		order: 2;
		display: flex;
		flex-direction: column;
		row-gap: 20px;
		width: 100%;
		height: 70vh;
		text-align: center;
	}

	#title {
		font-size: 1.3em;
	}

	#subtitle {
		font-size: 0.69em;
	}

	#buttons {
		display: flex;
		column-gap: 5px;
	}

	/*
	.button img {
		border-radius: 30px;
		width: 100%;
		height: auto;
	}
	*/

	.button {
		width: 100%;
		height: auto;
		border-radius: 7px;
		border: 0px;
	}

	/*#F3F5F2*/

	#button1 {
		background-color: #ff9e3a;
	}

	#button2 {
		background-color: #1caad9;
	}

	.button a {
		font-size: 80%;
		font-weight: 700;
		color: white;
		text-decoration: none;
	}



	#logo {
		animation-delay: 0.25s;
	}

	.body {
		animation-delay: 1s;
	}
}

.fade-in {
	opacity: 0;
	animation: fadeIn 2s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}
