
body {
	background-color: #DDDDDD !important;
}

header nav {
	background-color: #BBB9D9 !important;
}

#logo {
	width: 9vh;
	height: 9vh;
	margin-right: 2vw;
}

	#logo .logo {
		max-width: 100%;
		height: auto;
	}

		#logo .logo:hover {
			opacity: 60%;
		}


#buttons {
	justify-content: left;
}

	#buttons li {
		font-size: 2vw;
		margin: 0px 0.5vw;
	}


#register {
	justify-content: right;
}

	#register li {
		font-size: 2vw;
		margin: 0px 0.5vw;
	}

footer {
	position: relative;
	bottom: 0;
	left: 0;
	width: 100%;
	font-size: 100%;
}
