@model OrderInputModel
@inject IViewLocalizer Localizer
@{
    ViewBag.Submit = "Order";
}

<h2 class="text-center mb-2">@Localizer["Title"]</h2>
<hr />
<div class="container">
    <partial name="_OrderFormPartial" model="Model" view-data="ViewData" />
</div>