@model OrderViewModel
@inject IViewLocalizer Localizer
@{
    ViewBag.Cols = 2;
    ViewBag.Buttons = new string[] { "Download", "Colorize" };
    ViewBag.Header = $"{Model.Name} ({Localizer[Model.Category].ToString()})";
}

<h1 class="text-center">@Localizer["Title", Model.Name]</h1>
<hr />

<partial name="_OrdersPartial" model="Model" view-data="ViewData" />